//? === Products ===

@import 'scss/vars';

.products {
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-content: center;
	gap: 50px 70px;

	overflow-y: auto;

	padding: 60px 20px;

	grid-area: main;
}
