//? === Header ===

@import 'scss/vars';

.header {
	padding: 26px 0 23px;
	border-bottom: 1px solid $gray-color;

	grid-area: header;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	@include container;
}

.logo {
	svg {
		width: 89px;
		height: 32px;
	}
}
